/* ************* */
/* LANDING PAGE  */
/* ************* */
#linkedin {
    position: Absolute; top: 7vh; left: 1vw;
    opacity: 1;
  }
#github {
    position: Absolute; top: 12vh; left: 1vw;
    opacity: 1;
}

.home {
    margin-left: -1vw;
    margin-top: -10vh;
}

.swapStyle {
    position: Absolute; top: 16vh; left: 1vw;
    border: -2vw solid #000;
}

body, html {
  /* The image used */
  background-image: url("images/paintSplatter.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#name {
    background-color : grey;
    width: 80%;
    height:  50 px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    opacity: .6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    background-image: url("images/paintGif.gif");  
}
#description {
    background-color : rgba(235, 192, 225, 0.7);
    width: 50%;
    height:  50 px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    opacity: .5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
h1 {
    color: #777;
    text-align: center;
    opacity: 1;
    font-family: "CopperPlate", Fantasy;    
}
/* MAIN NAV */
.main-nav > a  {
    margin: 1vh;  
}
.main-nav {
   margin-right:97vw;
    margin-top: -10vh;
    margin-left: -1vw;
}
/* ********************************* */
/* CAROUSELL NAV */
.slide {
  overflow: hidden;
  max-width: 90vw;
  position: relative;
  
}
.slide .box,
.slide .box--hidden {
  display: none;
  border-radius: 10px;
  width:70vw;
  height: 20vh;
  background: rgba(235, 192, 225, 0.7);
  border: 3px solid #000;
  padding: 1rem;
  margin-left: 10vw;
  margin-right: 10vw;
}

.slide .box--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}
.slide .slide-arrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: .3;
}
.box h2 {
  color:rgb(0, 0, 0);
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.box p {
  color:rgb(0, 0, 0);
  font-family: 'Lucida Sans';
  font-size: small;
}
.qualifications:hover {
  animation: fadeInFromNone .5 ease-in;
}
.slide .slide-arrow button {
  border-radius: 50px;
  border: 1;
  font-weight: bold;
  cursor: pointer;
  width: 5vh;
  height: 5vh;
}
.slide .slide-arrow button#slide-left {
  margin-left: 5vw;
  height: 5vh;
}
.carousel .slide-arrow button#slide-right {
  margin-right: 5vw;
  height: 5vh;
}
@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

/* ********************************** */


/* ********************************************************** */
/* QUALIFICATION */
/* .ResumePDF {
    width: 100%;
    aspect-ratio: 4/3;
    height: 80%;
    margin-bottom: 0px;
} */

.RESUME {
  background: rgba(3, 3, 50, .7);
  /* display: inline-block; */
  width: 30vw;
  height: 20vh;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */
  transition: .5s;
}
.RESUME h2{
  color:rgb(181, 181, 197, 1);
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.RESUME:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f1d0d0;
}
.RESUME:hover{
  color: #bd7de8;
  box-shadow: 0 0 8px #f1d0d0;
  text-shadow: 0 0 6px #ab70c6;
  background-color: rgb(37, 20, 44);
  border-radius: 20px;
  border: 8px solid rgb(239, 152, 161)
}
#RESUMELINK{
  filter: invert(80%);
  height: 10vh;
  float:right;
}
.RESUME p {
  color:rgb(181, 181, 197, 1);
  font-family: 'Lucida Sans';
  font-size: small;
}

.holder{
    display: inline-flex;
    margin-top: 5vh;
}

.LZT {
  background: rgba(8, 81, 71, 0.7);
  display: inline-block;
  width: 30vw;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */
 
  transition: .5s;
}
.LZT h2{
  color:rgb(181, 181, 197, 1);
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.LZT:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #91e5e2;
}
#LZTIMG {
  border: 2px solid rgb(74, 179, 132);
  border-radius: 10px;
  width: 25rem;
  float: left;
  margin-right: 2vw;
  margin-bottom: 2vw;
}
.LZT:hover{
  color: #37c0ea;
  box-shadow: 0 0 8px #9ae7ee;
  text-shadow: 0 0 6px #9ae7ee;
  background-color: rgb(12, 58, 33);
  border-radius: 20px;
  border: 8px solid rgb(74, 179, 132)
}
.LZT p {
  color:rgb(181, 181, 197, 1);
  font-family: 'Lucida Sans';
  font-size: small;
}

.TAMUPT {
  background: rgba(40, 31, 31, 0.7);
  /* display: inline-block; */
  width: 30vw;
  height: 22vh;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */

  transition: .5s;
}
.TAMUPT h2{
  color:rgb(181, 181, 197, 1);
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.TAMUPT:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #91e5e2;
}
#TAMUIMG {
  border: 2px solid rgb(73, 26, 26);
  border-radius: 10px;
  width: 10rem;
  float: left;
  margin-right: 2vw;
  margin-bottom: 2vw;
}
.TAMUPT:hover{
  color: #c41e1e;
  box-shadow: 0 0 8px #ec9f9f;
  text-shadow: 0 0 6px #ec9f9f;
  background-color: rgb(34, 17, 17);
  border-radius: 20px;
  border: 8px solid rgb(73, 26, 26);
}
.TAMUPT p {
  color:rgb(181, 181, 197, 1);
  font-family: 'Lucida Sans';
  font-size: small;
}

.ABOUT {
  background: rgba(13, 13, 97, 0.7);
  /* display: inline-block; */
  display: inline-flex;
  width: 80vw;
  height:30vh;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */
  margin-left: 5vw;
  margin-right: 30vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
  transition: .5s;
  position:relative;
}
.ABOUT h2{
  color:rgb(181, 181, 197, 1);
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin-bottom: 5vh;

}
.ABOUT:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #74d1ff;
}
#ABOUTIMG {
  border: 2px solid rgb(89, 55, 200);
  border-radius: 10px;
  height: 15rem;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-bottom: 2vh;
  float:inline-start

}
.ABOUT:hover{
  color: rgb(89, 55, 200);
  box-shadow: 0 0 8px #b4aeed;
  text-shadow: 0 0 6px #b4aeed;
  background-color: rgb(64, 28, 148);
  border-radius: 20px;
  border: 8px solid rgb(89, 55, 200);
}
.ABOUT p {
  color:rgb(181, 181, 197, 1);
  font-family: 'Lucida Sans';
  font-size: small;
  position:absolute;
  bottom: 0;

}

/* ***************************************************** */
/* PROJECTS */

/* DUNGEON CRAWL */
.DungeonCrawl {
  background: rgba(235, 192, 225, 0.7);
  width: 45vw;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */

  margin-top: 2vh;
  transition: .5s;
}
#DungeonImg {
  border: 2px solid rgba(146, 13, 106, 0.8);
  border-radius: 10px;
  height: 20vh;
  float: left;
  margin-right: 2vw;
  margin-bottom: 2vw;
}
.DungeonCrawl h3{
  color:black;
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.DungeonCrawl p {
  color:black;
  font-family: 'Lucida Sans';
  font-size: small;
}
.DungeonCrawl:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f1d0d0;
}
.DungeonCrawl:hover{
  color: #bd7de8;
  box-shadow: 0 0 8px #f1d0d0;
  text-shadow: 0 0 6px #ab70c6;
  background-color: rgb(171, 48, 220);
  border-radius: 20px;
  border: 8px solid rgb(239, 152, 161)
}

/* Standard Classes */
.STDCLASS {
  background: rgba(235, 192, 225, 0.7);
  width: 45vw;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */

  margin-top: 2vh;
  transition: .5s;
}
.STDCLASS h2{
  color:black;
  font-family: 'Lucida Sans';
  font-size: larger;
  font-weight: bold;
}
.STDCLASS h3{
  color:black;
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.STDCLASS p {
  color:black;
  font-family: 'Lucida Sans';
  font-size: small;
}
.STDCLASS:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f1d0d0;
}
.STDCLASS:hover{
  color: #bd7de8;
  box-shadow: 0 0 8px #f1d0d0;
  text-shadow: 0 0 6px #ab70c6;
  background-color: rgb(171, 48, 220);
  border-radius: 20px;
  border: 8px solid rgb(239, 152, 161)
}

/* Ocaml Classes */

.OCAML {
  background: rgba(235, 192, 225, 0.7);
  width: 45vw;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */

  margin-top: 2vh;
  transition: .5s;
}
#OCAMLIMG {
  border: 2px solid rgba(146, 13, 106, 0.8);
  border-radius: 10px;
  height: 20vh;
  float: left;
  margin-right: 2vw;
  margin-bottom: 2vw;
}
.OCAML h3{
  color:black;
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.OCAML p {
  color:black;
  font-family: 'Lucida Sans';
  font-size: small;
}
.OCAML:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f1d0d0;
}
.OCAML:hover{
  color: #bd7de8;
  box-shadow: 0 0 8px #f1d0d0;
  text-shadow: 0 0 6px #ab70c6;
  background-color: rgb(171, 48, 220);
  border-radius: 20px;
  border: 8px solid rgb(239, 152, 161)
}


/* RACKET Classes */
.RACKET {
  background: rgba(235, 192, 225, 0.7);
  width: 45vw;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */

  margin-top: 2vh;
  transition: .5s;
}
#RACKETIMG1 {
  border: 2px solid rgba(146, 13, 106, 0.8);
  border-radius: 10px;
  width: 35rem;
  float:inline-end;
  margin-right: 2vw;
  margin-bottom: 2vw;
}
#RACKETIMG2 {
  border: 2px solid rgba(146, 13, 106, 0.8);
  border-radius: 10px;
  height: 20vh;
  float: inline-end;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
}
.RACKET h3{
  color:black;
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.RACKET p {
  color:black;
  font-family: 'Lucida Sans';
  font-size: small;
}
.RACKET:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f1d0d0;
}
.RACKET:hover{
  color: #bd7de8;
  box-shadow: 0 0 8px #f1d0d0;
  text-shadow: 0 0 6px #ab70c6;
  background-color: rgb(171, 48, 220);
  border-radius: 20px;
  border: 8px solid rgb(239, 152, 161)
}

/* RUBY */
.RUBY {
  background: rgba(235, 192, 225, 0.7);
  display: inline-block;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */
  margin-left: 5vw;
  margin-right: 30vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
  transition: .5s;
}
#RUBYIMG {
  border: 2px solid rgba(146, 13, 106, 0.8);
  border-radius: 10px;
  height: 20vh;
  float: inline-start;
}
.RUBYIMGContainer {
  margin-right: 2vw;
  margin-bottom: 2vh;
  float: inline-start;
}
.RUBY h3{
  color:black;
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.RUBY p {
  color:black;
  font-family: 'Lucida Sans';
  font-size: small;
}
.RUBY:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f1d0d0;
}
.RUBY:hover{
  color: #bd7de8;
  box-shadow: 0 0 8px #f1d0d0;
  text-shadow: 0 0 6px #ab70c6;
  background-color: rgb(171, 48, 220);
  border-radius: 20px;
  border: 8px solid rgb(239, 152, 161)
}
/* ********************************************************** */


/* SERVICES */
.SERVICE {
  background: rgba(235, 192, 225, 0.7);
  display: inline-block;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  /* opacity: .5; */
  margin-left: 5vw;
  margin-right: 30vw;
  margin-top: 2vh;
  transition: .5s;
}
.SERVICE h2{
  color:black;
  font-family: 'Lucida Sans';
  font-size: larger;
  font-weight: bold;
}
.SERVICE h3{
  color:black;
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: bold;
}
.SERVICE:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f1d0d0;
}
.SERVICE:hover{
  color: #bd7de8;
  box-shadow: 0 0 8px #f1d0d0;
  text-shadow: 0 0 6px #ab70c6;
  background-color: rgb(171, 48, 220);
  border-radius: 20px;
  border: 8px solid rgb(239, 152, 161)
}
.SERVICE p {
  color:black;
  font-family: 'Lucida Sans';
  font-size: small;
}

.serviceLinks {
  display:block;
  margin-top:17vh;
  margin-right: 95vw;
}

.insta {
  margin-left: 5vw;
  margin-top: -4vh;
}
.gmail {
  margin-left: 10vw;
  margin-top: -4vh
}
.discord {
  margin-left: 15vw;
  margin-top: -4vh
}
